@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Meie+Script|Shadows+Into+Light|Arvo|Monda');
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");


html,
body {
    max-width: 100%;
    overflow-x: hidden;
}


h1 {
    color: rgb(125, 114, 20);
    text-align: center;
    font-family: 'Monda', sans-serif;
}

#instructions,
#chests,
#score,
#help {
    font-family: Lato, sans-serif;
    font-weight: bold;
    font-size: 1.5vw;
}

.list {
    display: flex;
    padding-left: 350px;
}

.container,
.row {
    margin: auto;
    display: contents;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 120px;

}

#instructions {
    background: linear-gradient(80deg, rgb(255, 30, 80) 20%, rgb(35, 40, 130));
    color: #ffffff;
    width: 400px;
    height: 50px;
    padding: 10px 16px;
    text-align: center;
    background-color: transparent !important;
    border-radius: 50px;
    font-size: 1.1vw;



}


#chests,
#score,
#help {
    width: 400px;
    height: 50px;
    background: linear-gradient(#eff1f0, #f9fafc, #f4f5f7);
    border-radius: 50px;
    float: center;
    color: #1e107f;
    text-align: center;
    padding: 10px 16px;

}